* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom: 90px;
  font-family: Arial, sans-serif;
  background: #fff7fb;
  color: #333;
}

header {
  text-align: center;
  padding: 25px 15px 15px;
  background: white;
}

header h1 {
  margin: 0;
  color: #d94f8a;
  font-size: 32px;
}

header p {
  color: #777;
}

input {
  width: 100%;
  max-width: 500px;
  padding: 14px 18px;
  border: 1px solid #ddd;
  border-radius: 30px;
  font-size: 16px;
  outline: none;
}

section {
  padding: 10px 15px;
}

h2 {
  color: #444;
}

.categorias {
  text-align: center;
}

.categorias button {
  border: none;
  border-radius: 25px;
  padding: 12px 15px;
  margin: 5px;
  background: #f3a6c7;
  color: white;
  font-size: 14px;
}

.produtos {
  max-width: 600px;
  margin: auto;
}

.produto {
  background: white;
  border-radius: 20px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 4px 15px rgba(0,0,0,0.08);
}

.foto-produto {
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff0f6;
  border-radius: 15px;
  font-size: 80px;
}

.produto h3 {
  margin-bottom: 5px;
}

.preco {
  color: #d94f8a;
  font-size: 20px;
  font-weight: bold;
}

.produto button {
  border: none;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 4px;
  background: #d94f8a;
  color: white;
}

.menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  background: white;
  box-shadow: 0 -3px 15px rgba(0,0,0,0.1);
}

.menu button {
  border: none;
  background: transparent;
  color: #777;
  font-size: 13px;
}

.menu button:first-child {
  color: #d94f8a;
}
.tela-carrinho {
  display: none;
  position: fixed;
  inset: 0;
  background: #fff7fb;
  z-index: 1000;
  overflow-y: auto;
  padding: 20px;
}

.cabecalho-carrinho {
  display: flex;
  align-items: center;
  gap: 15px;
}

.cabecalho-carrinho button {
  background: #f3a6c7;
}

.total-carrinho {
  display: flex;
  justify-content: space-between;
  padding: 20px 5px;
  font-size: 20px;
}

.finalizar {
  width: 100%;
  background: #d94f8a;
  font-size: 17px;
  padding: 15px;
}
